In [1]:
import os 
import csv
import pandas as pd

In [21]:
csv_file =os.path.join('Resources','budget_data.csv')
budget_data_file = pd.read_csv(csv_file)
print(budget_data_file)
total_month = sum(budget_data_file['Date'].value_counts())
net_total_amount = sum(budget_data_file['Profit/Losses'])


# for row in budget_data_file:

# average_change = int(net_total_amount/total_month)
# max_profit = budget_data_file[["Date","Profit/Losses"]].max()
# max_loss = budget_data_file[["Date","Profit/Losses"]].min()
print(total_month)
print(net_total_amount)
# print(average_change)

        Date  Profit/Losses
0   Jan-2010         867884
1   Feb-2010         984655
2   Mar-2010         322013
3   Apr-2010         -69417
4   May-2010         310503
..       ...            ...
81  Oct-2016         102685
82  Nov-2016         795914
83  Dec-2016          60988
84  Jan-2017         138230
85  Feb-2017         671099

[86 rows x 2 columns]
86
38382578

In [27]:
max_index = budget_data_file["Profit/Losses"].idxmax()

In [28]:
max_row = budget_data_file.iloc[[max_index]]

In [29]:
max_row

        Date  Profit/Losses
25  Feb-2012        1170593